[req]
default_bits=512
distinguished_name=req_distinguished_name
x509_extensions=v3_ca

[req_distinguished_name]
countryName=IN
stateOrProvinceName=Telangana
localityName=Hyderabad
organizationName=IIT Hyderabad
organizationalUnitName=CSE
commonName=iTS Root R1
emailAddress = iTSroot@iTS.ac.in

[v3_ca]
basicConstraints=critical,CA:TRUE
keyUsage=critical,keyCertSign,cRLSign
